.container {
    background-color: #EDD4CD;
    padding: 0;
}

body {
    background-color: #EDD4CD;
    font-family: 'Poppins', sans-serif;
}

.gg-navbar {
    background-color: rgba(97, 92, 92, 0.54);
    font-family: serif;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, .54);
    z-index: 1;
    font-family: 'Josefin Sans', sans-serif;
}

.gg-navbar .nav-link {
    border-bottom: 1px solid transparent;
    transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}

.gg-navbar .nav-link:hover {
    padding-bottom: 20px;
    border-bottom-color: white;
}

.btn-order {
    color: white;
    border-color: white;
    transition: 0.5s;
    font-family: 'Josefin Sans', sans-serif;
}

.btn-order:hover,
.btn-order:active {
    color: black;
    background-color: white;
}

h2 {
    text-align: center;
    font-weight: bold;  
}

p {
    text-align: center;
}

h5 {
    text-align: center;
    font-weight: bold;
}

.description-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

iframe {
    width: 1000px;
    height: 615px;
}

.video {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.other {
    margin-top: 5px;
}

h1 {
    padding-top: 100px;
    text-align: center;
}